<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <a href="/">Home</a>
    <table>
        <tr>
            <th>Id</th>
            <th>FName</th>
            <th>LName</th>
            <th>Action</th>

        </tr>
        <% stud.forEach((record)=>{ %>
        <tr>
            <td><%=record.Id%></td>
            <td><%=record.fname%></td>
            <td><%=record.lname%></td>
            <td><a href="/update?id=<%=record.Id%>">Update</a></td>
            <td><a href="/delete?id=<%=record.Id%>">Delete</a></td>
        </tr>
        <% } ) %>

    </table>
</body>

</html>